flask>=3.0.3, <4.0.0
flask_mysqldb>=2.0.0, <3.0.0
flask_cors>=4.0.0, <5.0.0
fpdf>=1.7.2, <2.0.0
python-dotenv>=1.0.1, <2.0.0
pytest>=8.2.2, <9.0.0
pytest-mock>=3.14.0, <4.0.0
flask_mail>=0.10.0, <1.0.0
itsdangerous>=2.2.0, <3.0.0
reportlab>=4.2.0, <5.0.0
PyJWT>=2.0.0, <3.0.0